In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix,accuracy_score

In [2]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_88dfd93a624d4effaa58ac78e0d640c8 = 'https://s3.us.cloud-object-storage.appdomain.cloud'
else:
    endpoint_88dfd93a624d4effaa58ac78e0d640c8 = 'https://s3.private.us.cloud-object-storage.appdomain.cloud'

client_88dfd93a624d4effaa58ac78e0d640c8 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='tcsI9S9lsYbKfp1AA4kgbwlqBuyj-ZG1aNAAaVY-r3iW',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_88dfd93a624d4effaa58ac78e0d640c8)

body = client_88dfd93a624d4effaa58ac78e0d640c8.get_object(Bucket='predictivemaintenanceaircraft-donotdelete-pr-hffnntloxwjcuj',Key='PM_train.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

dataset_train = pd.read_csv(body)
dataset_train.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,-0.0007,-0.0004,100,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100,39.06,23.4190
1,1,2,0.0019,-0.0003,100,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100,39.00,23.4236
2,1,3,-0.0043,0.0003,100,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100,38.95,23.3442
3,1,4,0.0007,0.0000,100,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100,38.88,23.3739
4,1,5,-0.0019,-0.0002,100,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100,38.90,23.4044

In [3]:

body = client_88dfd93a624d4effaa58ac78e0d640c8.get_object(Bucket='predictivemaintenanceaircraft-donotdelete-pr-hffnntloxwjcuj',Key='PM_test.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

dataset_test = pd.read_csv(body)
dataset_test.head()
#dataset_test=pd.read_csv('PM_test.txt',sep=' ',header=None).drop([26,27],axis=1)

#dataset_test.columns=col_names
#print('Shape of test dataset:',dataset_train.shape)
#dataset_train.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,0.0023,0.0003,100,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100,38.86,23.3735
1,1,2,-0.0027,-0.0003,100,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100,39.02,23.3916
2,1,3,0.0003,0.0001,100,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100,39.08,23.4166
3,1,4,0.0042,0.0000,100,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100,39.00,23.3737
4,1,5,0.0014,0.0000,100,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100,38.99,23.4130

In [4]:

body = client_88dfd93a624d4effaa58ac78e0d640c8.get_object(Bucket='predictivemaintenanceaircraft-donotdelete-pr-hffnntloxwjcuj',Key='PM_truth.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

dataset_truth = pd.read_csv(body)
dataset_truth.head()
#pm_truth=pd.read_csv('PM_truth.txt',sep=' ',header=None).drop([1],axis=1)
dataset_truth.columns=['more']
dataset_truth['id']=dataset_truth.index+1
#_truth.head()

In [5]:
rul = pd.DataFrame(dataset_train.groupby('id')['cycle'].max()).reset_index()
rul.columns = ['id','max']
rul.head()

   id  max
0   1  192
1   2  287
2   3  179
3   4  189
4   5  269

In [6]:
dataset_truth[ 'rtf' ] = dataset_truth[ 'more' ] + rul[ 'max' ]
dataset_truth.head()

   more  id    rtf
0    98   1  290.0
1    69   2  356.0
2    82   3  261.0
3    91   4  280.0
4    93   5  362.0

In [7]:
dataset_truth.drop('more', axis=1, inplace=True)
dataset_test=dataset_test.merge(dataset_truth, on=['id'],how='left')
dataset_test['ttf']=dataset_test['rtf'] - dataset_test['cycle']
dataset_test.drop('rtf', axis=1, inplace=True)
dataset_test.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,ttf
0,1,1,0.0023,0.0003,100,518.67,643.02,1585.29,1398.21,14.62,...,2388.03,8125.55,8.4052,0.03,392,2388,100,38.86,23.3735,289.0
1,1,2,-0.0027,-0.0003,100,518.67,641.71,1588.45,1395.42,14.62,...,2388.06,8139.62,8.3803,0.03,393,2388,100,39.02,23.3916,288.0
2,1,3,0.0003,0.0001,100,518.67,642.46,1586.94,1401.34,14.62,...,2388.03,8130.10,8.4441,0.03,393,2388,100,39.08,23.4166,287.0
3,1,4,0.0042,0.0000,100,518.67,642.44,1584.12,1406.42,14.62,...,2388.05,8132.90,8.3917,0.03,391,2388,100,39.00,23.3737,286.0
4,1,5,0.0014,0.0000,100,518.67,642.51,1587.19,1401.92,14.62,...,2388.03,8129.54,8.4031,0.03,390,2388,100,38.99,23.4130,285.0

In [8]:
dataset_train['ttf'] = dataset_train.groupby(['id'])['cycle'].transform(max)-dataset_train['cycle']
dataset_train.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,ttf
0,1,1,-0.0007,-0.0004,100,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100,39.06,23.4190,191
1,1,2,0.0019,-0.0003,100,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100,39.00,23.4236,190
2,1,3,-0.0043,0.0003,100,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100,38.95,23.3442,189
3,1,4,0.0007,0.0000,100,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100,38.88,23.3739,188
4,1,5,-0.0019,-0.0002,100,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100,38.90,23.4044,187

In [9]:
df_train=dataset_train.copy()
df_test=dataset_test.copy()
period=30
df_train['label_bc'] = df_train["ttf"].apply(lambda x: 1 if x<= period else 0)
df_test['label_bc'] = df_test["ttf"].apply(lambda x: 1 if x <= period else 0)
df_train.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s14,s15,s16,s17,s18,s19,s20,s21,ttf,label_bc
0,1,1,-0.0007,-0.0004,100,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100,39.06,23.4190,191,0
1,1,2,0.0019,-0.0003,100,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100,39.00,23.4236,190,0
2,1,3,-0.0043,0.0003,100,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100,38.95,23.3442,189,0
3,1,4,0.0007,0.0000,100,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100,38.88,23.3739,188,0
4,1,5,-0.0019,-0.0002,100,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100,38.90,23.4044,187,0

In [10]:
df_train.drop(['ttf'],axis=1,inplace=True)
df_test.drop(['ttf'],axis=1, inplace=True)

In [11]:
x_train = df_train.iloc[:,:-1].values
y_train = df_train.iloc[:,-1].values
x_test = df_train.iloc[:,:-1].values
#y_test = df_train.iloc[:,-1].values

In [12]:
#model building

In [13]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()
model1.fit(x_train,y_train)

/opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [14]:
from sklearn.metrics import accuracy_score

In [15]:

y_predlog=model1.predict(x_test)
accuracy_score(y_predlog, y_test )

NameError: name 'x_test' is not defined

In [ ]:
from sklearn.metrics import confusion_matrix
cm1 = confusion_matrix(y_test,y_predlog)
cm1

In [16]:
import joblib

In [150]:
#SAVE THE MODEL

In [151]:
joblib.dump(model,"engine_model.sav")

['engine_model.sav']

In [152]:
x_train.shape

(20631, 26)

In [153]:
x_train[0]

array([ 1.00000e+00,  1.00000e+00, -7.00000e-04, -4.00000e-04,
        1.00000e+02,  5.18670e+02,  6.41820e+02,  1.58970e+03,
        1.40060e+03,  1.46200e+01,  2.16100e+01,  5.54360e+02,
        2.38806e+03,  9.04619e+03,  1.30000e+00,  4.74700e+01,
        5.21660e+02,  2.38802e+03,  8.13862e+03,  8.41950e+00,
        3.00000e-02,  3.92000e+02,  2.38800e+03,  1.00000e+02,
        3.90600e+01,  2.34190e+01])

In [154]:
from ibm_watson_machine_learning import APIClient
import json
import numpy as np

In [155]:
#from ibm_watson_machine_learning import APIClient 
wml_credentials={
    "url": "https://us-south.ml.cloud.ibm.com",
    "apikey":"yRrxWYCduJe9oe664g4jPMnAK7oEXdcycNCMXbaFuYov"

    
}
client = APIClient(wml_credentials)

In [156]:
#def guid_from_space_name(client,space_name): 
   # space=client.spaces.get_details() 
    #return(next(item for item in space['resources'] if item['entity']["name"]==space_name)['metadata']['id'])

In [157]:
#space_uid=guid_from_space_name(client,'models') 
#print("Space UID="+space_uid)

In [158]:
wml_client = APIClient(wml_credentials)
wml_client.spaces.list()

Note: 'limit' is not provided. Only first 50 records will be displayed if the number of records exceed 50
------------------------------------  ------  ------------------------
ID                                    NAME    CREATED
66c5a8cb-af2e-45f6-863d-7ec5898ba772  models  2021-10-29T08:27:16.458Z
------------------------------------  ------  ------------------------

In [159]:
SPACE_ID="66c5a8cb-af2e-45f6-863d-7ec5898ba772"

In [160]:
wml_client.set.default_space(SPACE_ID)

'SUCCESS'

In [161]:
wml_client.software_specifications.list()

-----------------------------  ------------------------------------  ----
NAME                           ASSET_ID                              TYPE
default_py3.6                  0062b8c9-8b7d-44a0-a9b9-46c416adcbd9  base
pytorch-onnx_1.3-py3.7-edt     069ea134-3346-5748-b513-49120e15d288  base
scikit-learn_0.20-py3.6        09c5a1d0-9c1e-4473-a344-eb7b665ff687  base
spark-mllib_3.0-scala_2.12     09f4cff0-90a7-5899-b9ed-1ef348aebdee  base
ai-function_0.1-py3.6          0cdb0f1e-5376-4f4d-92dd-da3b69aa9bda  base
shiny-r3.6                     0e6e79df-875e-4f24-8ae9-62dcc2148306  base
tensorflow_2.4-py3.7-horovod   1092590a-307d-563d-9b62-4eb7d64b3f22  base
pytorch_1.1-py3.6              10ac12d6-6b30-4ccd-8392-3e922c096a92  base
tensorflow_1.15-py3.6-ddl      111e41b3-de2d-5422-a4d6-bf776828c4b7  base
scikit-learn_0.22-py3.6        154010fa-5b3b-4ac1-82af-4d5ee5abbc85  base
default_r3.6                   1b70aec3-ab34-4b87-8aa0-a4a3c8296a36  base
pytorch-onnx_1.3-py3.6         1bc6029a-cc97-56da-b8e0-39c3880dbbe7  base
tensorflow_2.1-py3.6           1eb25b84-d6ed-5dde-b6a5-3fbdf1665666  base
tensorflow_2.4-py3.8-horovod   217c16f6-178f-56bf-824a-b19f20564c49  base
do_py3.8                       295addb5-9ef9-547e-9bf4-92ae3563e720  base
autoai-ts_3.8-py3.8            2aa0c932-798f-5ae9-abd6-15e0c2402fb5  base
tensorflow_1.15-py3.6          2b73a275-7cbf-420b-a912-eae7f436e0bc  base
pytorch_1.2-py3.6              2c8ef57d-2687-4b7d-acce-01f94976dac1  base
spark-mllib_2.3                2e51f700-bca0-4b0d-88dc-5c6791338875  base
pytorch-onnx_1.1-py3.6-edt     32983cea-3f32-4400-8965-dde874a8d67e  base
spark-mllib_3.0-py37           36507ebe-8770-55ba-ab2a-eafe787600e9  base
spark-mllib_2.4                390d21f8-e58b-4fac-9c55-d7ceda621326  base
xgboost_0.82-py3.6             39e31acd-5f30-41dc-ae44-60233c80306e  base
pytorch-onnx_1.2-py3.6-edt     40589d0e-7019-4e28-8daa-fb03b6f4fe12  base
autoai-obm_3.0                 42b92e18-d9ab-567f-988a-4240ba1ed5f7  base
spark-mllib_2.4-r_3.6          49403dff-92e9-4c87-a3d7-a42d0021c095  base
xgboost_0.90-py3.6             4ff8d6c2-1343-4c18-85e1-689c965304d3  base
pytorch-onnx_1.1-py3.6         50f95b2a-bc16-43bb-bc94-b0bed208c60b  base
autoai-ts_3.9-py3.8            52c57136-80fa-572e-8728-a5e7cbb42cde  base
spark-mllib_2.4-scala_2.11     55a70f99-7320-4be5-9fb9-9edb5a443af5  base
spark-mllib_3.0                5c1b0ca2-4977-5c2e-9439-ffd44ea8ffe9  base
autoai-obm_2.0                 5c2e37fa-80b8-5e77-840f-d912469614ee  base
spss-modeler_18.1              5c3cad7e-507f-4b2a-a9a3-ab53a21dee8b  base
cuda-py3.8                     5d3232bf-c86b-5df4-a2cd-7bb870a1cd4e  base
autoai-kb_3.1-py3.7            632d4b22-10aa-5180-88f0-f52dfb6444d7  base
pytorch-onnx_1.7-py3.8         634d3cdc-b562-5bf9-a2d4-ea90a478456b  base
spark-mllib_2.3-r_3.6          6586b9e3-ccd6-4f92-900f-0f8cb2bd6f0c  base
tensorflow_2.4-py3.7           65e171d7-72d1-55d9-8ebb-f813d620c9bb  base
spss-modeler_18.2              687eddc9-028a-4117-b9dd-e57b36f1efa5  base
pytorch-onnx_1.2-py3.6         692a6a4d-2c4d-45ff-a1ed-b167ee55469a  base
do_12.9                        75a3a4b0-6aa0-41b3-a618-48b1f56332a6  base
spark-mllib_2.3-scala_2.11     7963efe5-bbec-417e-92cf-0574e21b4e8d  base
spark-mllib_2.4-py37           7abc992b-b685-532b-a122-a396a3cdbaab  base
caffe_1.0-py3.6                7bb3dbe2-da6e-4145-918d-b6d84aa93b6b  base
pytorch-onnx_1.7-py3.7         812c6631-42b7-5613-982b-02098e6c909c  base
cuda-py3.6                     82c79ece-4d12-40e6-8787-a7b9e0f62770  base
tensorflow_1.15-py3.6-horovod  8964680e-d5e4-5bb8-919b-8342c6c0dfd8  base
hybrid_0.1                     8c1a58c6-62b5-4dc4-987a-df751c2756b6  base
pytorch-onnx_1.3-py3.7         8d5d8a87-a912-54cf-81ec-3914adaa988d  base
caffe-ibm_1.0-py3.6            8d863266-7927-4d1e-97d7-56a7f4c0a19b  base
-----------------------------  ------------------------------------  ----
Note: Only first 50 records were displayed. To display more use 'limit' parameter.

In [162]:
#save and deploy

In [163]:
import sklearn
sklearn.__version__

'0.23.2'

In [164]:
MODEL_NAME = 'EngineFailure'
DEPLOYMENT_NAME = 'models'
ENGINE_FAILURE=model1

In [183]:
# Set Python Version
software_spec_uid = wml_client.software_specifications.get_id_by_name('default_py3.8')

# Setup model meta
model_props = {
    wml_client.repository.ModelMetaNames.NAME:  'EngineFailure', 
    wml_client.repository.ModelMetaNames.TYPE: 'scikit-learn_0.23', 
    wml_client.repository.ModelMetaNames.SOFTWARE_SPEC_UID: software_spec_uid 
}

In [184]:
#model_details= client.repository.store_model-model1,meta_props={
#client.repository.ModelMetaNames.Name:"Aircraft_engine",
#client.repository.ModelMetaNames.Type:" 'scikit-learn_0.23'",
#client.repository.ModelMetaNames.SOFTWARE_SPEC_UID: software_spec_uid 
#}
#model_id=client.repository.get_model_uid(model_details)

In [185]:
#Save model
model_details = wml_client.repository.store_model(
    model=ENGINE_FAILURE, 
    meta_props=model_props, 
    training_data=x_train, 
    training_target=y_train
)

In [186]:
model_details

{'entity': {'label_column': 'l1',
  'software_spec': {'id': 'ab9e1b80-f2ce-592c-a7d2-4f2344f77194',
   'name': 'default_py3.8'},
  'training_data_references': [{'connection': {'access_key_id': 'not_applicable',
     'endpoint_url': 'not_applicable',
     'secret_access_key': 'not_applicable'},
    'id': '1',
    'location': {},
    'schema': {'fields': [{'name': 'f0', 'type': 'float'},
      {'name': 'f1', 'type': 'float'},
      {'name': 'f2', 'type': 'float'},
      {'name': 'f3', 'type': 'float'},
      {'name': 'f4', 'type': 'float'},
      {'name': 'f5', 'type': 'float'},
      {'name': 'f6', 'type': 'float'},
      {'name': 'f7', 'type': 'float'},
      {'name': 'f8', 'type': 'float'},
      {'name': 'f9', 'type': 'float'},
      {'name': 'f10', 'type': 'float'},
      {'name': 'f11', 'type': 'float'},
      {'name': 'f12', 'type': 'float'},
      {'name': 'f13', 'type': 'float'},
      {'name': 'f14', 'type': 'float'},
      {'name': 'f15', 'type': 'float'},
      {'name': 'f16', 'type': 'float'},
      {'name': 'f17', 'type': 'float'},
      {'name': 'f18', 'type': 'float'},
      {'name': 'f19', 'type': 'float'},
      {'name': 'f20', 'type': 'float'},
      {'name': 'f21', 'type': 'float'},
      {'name': 'f22', 'type': 'float'},
      {'name': 'f23', 'type': 'float'},
      {'name': 'f24', 'type': 'float'},
      {'name': 'f25', 'type': 'float'}],
     'id': '1',
     'type': 'ndarray'},
    'type': 's3'}],
  'type': 'scikit-learn_0.23'},
 'metadata': {'created_at': '2021-10-29T11:40:35.024Z',
  'id': 'e87b6cf2-c167-4d7c-b33f-374ffa33c3d6',
  'modified_at': '2021-10-29T11:40:36.938Z',
  'name': 'EngineFailure',
  'owner': 'IBMid-664002GQMX',
  'resource_key': '6b5de008-e737-48b7-b60c-f00657426c3b',
  'space_id': '66c5a8cb-af2e-45f6-863d-7ec5898ba772'},
 'system': {'warnings': []}}

In [187]:
model_uid = wml_client.repository.get_model_uid(model_details); model_uid

'e87b6cf2-c167-4d7c-b33f-374ffa33c3d6'

In [188]:
wml_client.connections.list_datasource_types()

-------------------------  ------------------------------------  --------  ------
NAME                       DATASOURCE_ID                         TYPE      STATUS
informix                   029e5d1c-ba73-4b09-b742-14c3a39b6cf9  database  active
postgresql-ibmcloud        048ed1bf-516c-46f0-ae90-fa3349d8bc1c  database  active
googlecloudstorage         05b7f0ea-6ae4-45e2-a455-cc280f110825  file      active
impala                     05c58384-862e-4597-b19a-c71ea7e760bc  database  active
salesforce                 06847b16-07b4-4415-a924-c63d11a17aa1  database  active
datastax-ibmcloud          0bd5946b-6fcb-4253-bf76-48b362d24a89  database  active
cosmos                     0c431748-2572-11ea-978f-2e728ce88125  file      active
odbc-datastage             0ca92c3d-0e46-3b42-a573-77958d53c9be  database  active
mysql-compose              0cd4b64c-b485-47ed-a8c4-329c25412de3  database  active
hive                       0fd83fe5-8995-4e2e-a1be-679bb8813a6d  database  active
cognos-analytics           11f3029d-a1cf-4c4d-b8e7-64422fa54a94  file      active
cassandra-datastage        123e4263-dd25-44e5-8282-cf1b2eeea9bd  generic   active
bluemixcloudobjectstorage  193a97c1-4475-4a19-b90c-295c4fdc6517  file      active
elasticsearch              200d71ab-24a5-4b3d-85a4-a365bdd0d4cb  file      active
odata                      27c3e1b0-b7d2-4e32-9511-1b8aaa197de0  generic   active
azurefilestorage           2a7b4fa1-c770-4807-8871-a3c5def5aa2d  file      active
bigsql                     2bdd9544-f13a-47b6-b6c3-f5964a08066a  database  active
snowflake                  2fc1372f-b58c-4d45-b0c4-dfb32a1c78a5  database  active
redshift                   31170994-f54c-4148-9c5a-807832fa1d07  database  active
db2iseries                 335cbfe7-e495-474e-8ad7-78ad63c05091  database  active
dvm                        39a78d59-ef34-4108-8e46-4460433a3b99  database  active
salesforce-datastage       3a00dbd2-2540-4976-afc2-5fc59f68ed35  generic   active
http                       4210c294-8b0f-46b4-bcdc-1c6ada2b7e6b  file      active
cloudant                   44e904b5-0cb2-4d8e-a5c0-c48bc3e24fdd  file      active
sqlserver                  48695e79-6279-474a-b539-342625d3dfc2  database  active
sybaseiq                   49079262-fac2-4762-99d1-452c1caf6b49  database  active
dv                         49686982-255f-423a-a5de-d825bfc0abe3  database  active
cloudobjectstorage         4bf2dedd-3809-4443-96ec-b7bc5726c07b  file      active
db2cloud                   506039fb-802f-4ef2-a2bf-c1682e9c8aa2  database  active
dropbox                    507b850c-f4a1-41d7-ad64-4182a1264014  file      active
netezza-datastage          63e2d853-e650-3b59-91a5-95e7bf725b9b  database  active
azuredatalake              6863060d-97c4-4653-abbe-958bde533f8c  file      active
sybase                     6976a3fc-b2ad-4db6-818c-ea049cac309d  database  active
looker                     69857d6b-2be8-4a59-8a70-723405f09708  file      active
sqlquery                   6bcaf300-30b3-11eb-adc1-0242ac120002  database  active
sapodata                   79a0a133-cbb6-48d0-a3b0-0956a9655401  generic   active
derby                      82696f1d-600c-4f78-a03c-d8349ea1976f  database  active
hdfs-analyticsengine       895507b6-f23e-40b2-b40a-5414fc9bd2ca  file      active
oracle-amazon              8b8fcd6d-8f95-49c7-8195-c72c95c9a84b  database  active
db2                        8c1a4480-1c29-4b33-9086-9cb799d7b157  database  active
mongodb-ibmcloud           8e65204d-6156-49e7-96e5-d635b2aa05f6  database  active
bigquery                   933152db-99e1-453a-8ce5-ae0e6714d1a9  database  active
postgresql-amazon          9493d830-882b-445e-96c7-8e4c635a1a5b  database  active
db2hosted                  9525f6a6-1c44-4925-b1a0-9a2b731518cb  database  active
teradata                   96ec8f53-a818-4ba1-bd8d-c86cc33a0b45  database  active
oracle                     971223d3-093e-4957-8af9-a83181ee9dd9  database  active
box                        99c3c67b-2133-4006-81f6-2b375a0048a3  file      active
azureblobstorage           9a22e0af-8d19-4c4e-9aea-1d733e81315b  file      active
mysql-amazon               9aa630f2-efc4-4d54-b8cb-254f31405b78  database  active
tableau                    9ebc33eb-8c01-43fd-be1e-7202cf5c2c82  file      active
amazons3                   a0b1d14a-4767-404c-aac1-4ce0e62818c3  file      active
azuresql                   e375c0ae-cba9-47fc-baf7-523bef88c09e  database  active
mysql                      b2cc3dc2-aff7-4a80-8f80-5e8c5703e9d2  database  active
hdfs-apache                c10e5224-f17d-4524-844f-e97b1305e489  file      active
netezza                    c2a82a72-0711-4376-a468-4e9951cabf22  database  active
db2eventstore              c42bcde4-4345-4fb4-b7da-c8c557527c8b  database  active
mongodb                    c6fb9293-51eb-4f2b-b20c-4dafa3136744  database  active
db2zos                     c8d3eab2-25f6-4a90-8e10-0b4226693c45  database  active
tm1odata                   c8f3d379-78b2-4bad-969d-2e928277377e  generic   active
cassandra                  e6ff8c10-4199-4b58-9a93-749411eafacd  database  active
dashdb                     cfdcb449-1204-44ba-baa6-9a8a878e6aa7  database  active
ftp                        d5dbc62f-7c4c-4d49-8eb2-dab6cef2969c  file      active
db2-datastage              fa31fba9-10e9-32d7-968c-f677fffd1e3b  database  active
oracle-datastage           dd22f798-8c9b-41fa-841e-d66cbdf50722  generic   active
postgresql                 e1c23729-99d8-4407-b3df-336e33ffdc82  database  active
greenplum                  e278eff1-a7c4-4d60-9a02-bde1bb1d26ef  database  active
kafka-datastage            f13bc9b7-4a46-48f4-99c3-01d943334ba7  generic   active
mariadb                    f3ee04c2-7c3b-4534-b300-eb6ef701646d  database  active
-------------------------  ------------------------------------  --------  ------

In [189]:
# Set meta
deployment_props = {
    wml_client.deployments.ConfigurationMetaNames.NAME: 'EngineFailure',
  #  wml_client.deployments.ConfigurationMetaNames.ONLINE: 'EngineFailure'
}